@CHARSET "ISO-8859-1";

BODY{
	font-size: 11pt;
        font-family: Arial, Verdana, Geneva, sans-serif;
}

#rutaUrl{
 display: none;
}

.info{
    color: black;
}

#menu{
	display: none;
}

#menu-footer{
	display: none;
}

#footer{
	display: none;
}

#cuerpo {	
}


#header{
}

#container{
	width: 100%;
}

H1{
	font-size: 100%;
        text-align: center;
}

H2{
	font-size: 90%;
}

A, A:VISITED{
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
}


a:hover {
	text-decoration:none;
}


.no-ver-para-imprimir, .no-imprimir{
	display: none;
}

.ver-solo-para-imprimir{
	display: block;
}


/************************************************************************
*
*
*		CAKE DEFAULTS
*
*
*/
/* Tables */
table {
	background-color: #fff;
	color: #333;
	margin-bottom: 10px;
        width: 100%;
}

CAPTION{
	color: #045FB4;
}

th {
	background: #f2f2f2;
	border:1px solid #bbb;
	border-top: 1px solid #f0f7fc;
	border-left: 1px solid #f0f7fc;
	text-align: center;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;
}

table tr td {
	background: #fff;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}


table tr.altrow2 th {
	background-color:#FFFFFF;
	color:#045FB4;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
}

table tr.altrow td {
	background-color: #fcfcfc;
}


.logos-header{
	display: block;
}


dl {
	line-height: 1.6em;
	margin: 0em 0em;
	width: 100%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 16em;
	margin-top: -22px;
	vertical-align: top;
}

#logo-cake-php{
    display: none;
}

#header_right{
    display: none;
}

.actions{
    display: none !important;
}

.acl{
    display: none !important;
}


/*Lista de Fondos*/

.lista_fondos{
    list-style-type: none;
    padding: 0px;
    width:580px;
}

.lista_fondos H2{
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.lista_fondos .item_fondos{
    border-top: thin solid #6F7BA3;
    border-bottom: thin solid #6F7BA3;
    margin-top: 10px;
    margin-left:  0px;
    margin-right: 0px;
    /*background-color: #E8F2FB;*/
    margin-bottom: 37px;
    border: 1px solid #6F7BA3;
}

.lista_fondos .item_fondos .header{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#5C9CCC url(../img/fondo_panel_collapsible.png) repeat-x scroll 50% 50%;
    color:#FFFFFF;
    font-weight:bold;
}

.lista_fondos .item_fondos .header dt{
    text-align: left;
    padding-left: 15px;
}

.lista_fondos .item_fondos dd{
    float: right;
    padding-right: 10px;
    font-size: 9pt;
}

.item_fondos_seleccionado{
    background-color: #F0F7FC;
}

.total {
    padding: 1px 10px;
    margin-right: -1px;
    -moz-border-radius-bottomleft:14px;
    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-left-radius: 14px;
    -webkit-border-bottom-right-radius: 14px;
    float: right;
    background-color: white;
    border-bottom:1px solid #6F7BA3;
    border-right: 1px solid #6F7BA3;
    border-left: 1px solid #6F7BA3;

    font-weight:bold;
    color: black;
    font-size:9pt;
    margin-top:0;
    padding: 3px 10px;
}

.lista_fondos .item_fondos dt{
    border-bottom:1px dotted #CCCCCC;
    font-size: 9pt;
}

.item_fondos dt{
    font-weight: normal;
}


.lista_fondos .item_fondos .total dd,dt{
    padding-top: 2px;
    padding-left:15px;
}



.lista_fondos dl{
    line-height: 11pt;

}

.lista_fondos dd{
    margin-top: -17px;

}



#ciclos-tabs {
    float:left;
}

#vertical-tabs {
    padding-left: 0px;
}

.tabs {
    margin-top: 22px;
    width: 614px;
    padding-left: 90px;
    float: left;
    clear: both;
}